<h3><%= question_group.new_record? ? "Nueva Encuesta" : "Editar Encuesta" %></h3><br />

<%= form_for question_group do |f| %>

  <%- if question_group.errors.any? %>
    <ul>
      <%- question_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label "Roles: " %><br />
  <% Role.all.each do |role| %>
      <%= check_box_tag 'question_group[role_ids][]', role.id,
          @question_group.role_ids.include?(role.id), id: dom_id(role) %>
      <%= label_tag dom_id(role), role.name, class: "check_box_label" %>
  <% end %><br /><br />


  <%= f.label :name, 'Encuesta: ' %><br />
  <%= f.text_field :name %>

  <%= f.label :survey_type, "Tipo encuesta" %>
  <%= f.select :survey_type, options_for_select([['Privado', 'private'], ['Publico', 'public']]) %>

  <br /><br />
  <%= f.submit question_group.new_record? ? "Crear" : "Editar" %>

<% end %>
