<tr id= "question_group_<%= question_group.id %>">
  <td>
    <% if can_administer? %>
      <%= link_to question_group.name, question_group_questions_path(question_group) %>
    <% else %>
      <%= question_group.name %>
    <% end %>
  </td>

  <td><%= question_group.roles.map { |m| m.name } %></td>

  <td><%= link_to "Answer Questions", new_question_group_answer_group_path(question_group) %></td>

  <% if can_administer? %> 
        <td><%= link_to "Results", [:results, question_group] %></td>
        <td><%= link_to "Edit", edit_question_group_path(question_group) %></td>
        <td><%= link_to "Delete", [question_group], method: :delete %></td>
  <% end %>

</tr>
